@font-face {
  font-family: Inter-Bold;
  src: url('fonts/Inter-Bold.otf');
}

@font-face {
  font-family: Inter-SemiBold;
  src: url('fonts/Inter-SemiBold.otf');
}

@font-face {
  font-family: Inter-Medium;
  src: url('fonts/Inter-Medium.otf');
}


@font-face {
  font-family: Inter-Regular;
  src: url('fonts/Inter-Regular.otf');
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0s linear;
  font-family: Inter-Bold;
  letter-spacing: -0.8px;
  font-size: 20px;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }

body {
  touch-action: manipulation;
}

.websiteContainer {
  width: 100%;
  max-width: 1000px;
  text-align: left;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.headerContainer {
  background-color: white;
  position: fixed;
  width: 40%;
  max-width: 400px;
  height: 64px;
  z-index: 3;
}

.headerText {
  font-family: Inter-Bold;
  letter-spacing: -0.8px;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 32px;
  cursor: pointer;

}

.rowContainer {
  padding-top: 48px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 55%;
  max-width: 800px;
  padding: 16px;
  padding-bottom: 16px;
  height: auto;
  background-color: white;
}

#infoColumn {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 48px;
  width: 45%;
  max-width: 400px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {

  .websiteContainer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .headerContainer {
    width: 100%;
    max-width: 100%;
  }

  .column {
    width: 100%;
    max-width: 100%;
  }

  #infoColumn {
    position: static;
    width: 100%;
    max-width: 100%;
  }

}

.columnImage {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-top: 20px;
  max-height: 400px;
  object-fit: cover;
}

.collapsibleContainer {
  border-bottom: 1px solid black;
  width: 100%;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-top: 1px solid black;
  font-family: Inter-SemiBold;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.active, .collapsible:hover {

}

.collapsible:after {
  content: '\002B';
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  width: auto;
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
  font-size: 16px;
  font-family: Inter-Regular;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.contentContainer {
  padding-bottom: 20px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 24px;
}

.collapsibleContentImage {
  padding-bottom: 8px;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.collapsibleContentImageAlt {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.collapsibleVideoEmbed {
  padding-top: 20px;
  width: 100%;
  height: 315px;
}

.introductionContainer {
  width: 100%;
  height: auto;
}
.introductionText {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 92%;
  font-family: Inter-Regular;
  letter-spacing: -0.5px;
  font-size: 18px;
  padding-left: 16px;
  padding-bottom: 8px;
  line-height: 24px;
  background-color: white;
}

.pageContentText {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 95%;
  font-family: Inter-Regular;
  letter-spacing: -0.5px;
  font-size: 16px;
  padding-left: 16px;
  padding-bottom: 20px;
  line-height: 24px;
  background-color: white;
}

.essayContentText {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 95%;
  letter-spacing: 0px;
  font-size: 16px;
  padding-left: 16px;
  line-height: 24px;
  background-color: white;
}

.pageTitleText {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 95%;
  font-family: Inter-Bold;
  letter-spacing: -1px;
  font-size: 32px;
  padding-left: 16px;
  line-height: 40px;
}

.pageTitleTextAlt {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 95%;
  font-family: Inter-Bold;
  letter-spacing: -0.5px;
  font-size: 24px;
  padding-left: 16px;
  padding-bottom: 20px;
  line-height: 32px;

}

.sectionText {
  font-family: Inter-Regular;
  letter-spacing: -0.5px;
  font-size: 16px;
  padding-top: 48px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 90%;
  line-height: 20px;
  background-color: white;
}

#firstSectionText {
  padding-top: 0px;
}

.linksContainer {
  width: 90%;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: auto;
}

.linkUnitContainer {
  padding-right: 4px;
  padding-bottom: 20px;
  display: inline-block;
}

.nestedLinkUnitContainer {
  padding-right: 4px;
  padding-bottom: 28px;
  padding-top: 28px;
  display: inline-block;
}

.linkText {
  border: 1px solid black;
  border-radius: 100px;
  display: block-inline;
  font-family: Inter-Medium;
  text-decoration: none;
  letter-spacing: -0.5px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
}

#inactiveButtonLink {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  color: grey;
}

a:hover {
  color: white;
  background-color: black;
}
.collapsibleTextLink {
  display: block;
  color: blue;
  text-decoration: underline;
  padding-top: 4px;
  padding-bottom: 4px;
}

.collapsibleTextLink:hover {
  background-color: transparent;
  color: purple;
}

.collapsibleText {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
}
